@import '../var';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url('../../img/icons/cursor.svg'), default;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $color-dark-s;

    &:hover,
    &:active {
        border-bottom: 3px solid $color-primary;
        cursor: url('../../img/icons/pointer.svg'), pointer;
        margin-bottom: -3px;
    }
}

.active_link {
    border-bottom: 3px solid $color-primary;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

h2 {
    @include makeFonts(400, 44px, 130%, $color: $color-light-xl);
    font-weight: 400;
    @media (max-width:767px) {
        font-size: 25px;
    }
}

h3 {
    @include makeFonts(400, 35px, 130%, $letter-spacing: 0.06em);
    font-weight: 400;
    @media (max-width:767px) {
        font-size: 25px;
    }
}

h4 {
    @include makeFonts(400, 20px, 115%, $letter-spacing: 0.06em, $color: $color-dark-l);
    font-weight: 400;
    @media (max-width:767px) {
        font-size: 20px;
    }
}

h5 {
    @include makeFonts(400, 15px, 110%, $letter-spacing: 0.06em);
    font-weight: 400;
}

.paragraph-l {
    @include makeFonts(400, 15px, 160%, 'Arial Regular', $color: $color-dark-s);
}

.paragraph-s {
    @include makeFonts(400, 12px, 150%, 'Arial Regular');
    font-style: italic;
}

.logo__title {
    @include makeFonts(400, 32px, 110%, $letter-spacing: 0.06em, $color: $color-primary);
    margin-bottom: 0;
}

.logo__subtitle {
    @include makeFonts(400, 13px, 15px, 'Arial Regular', 0.1em, $color-light-xl);
    margin-top: 0;
}

.donation__description {
    @include makeFonts(400, 12px, 18px, 'Arial Regular', $color: $color-dark-m);
    font-style: italic;
}

body {
    background-color: $color-light-l;
    @include makeFonts(400, 15px, 160%, 'Arial Regular');
    max-width: 1280px;
    margin: 0 auto;
}

button {
    background-color: $color-primary;
    border-radius: 100px;
    border: 0;
    padding: 15px 45px;
    max-width: 265px;
    display: block;
    @include makeFonts(400, 17px, 130%, $letter-spacing: 0.06em, $color: $color-dark-3xl);

    &:hover,
    &:active {
        cursor: url('../../img/icons/pointer.svg'), pointer;
        background-color: $color-primary-light;
    }
}
.disabled {
    background-color: transparent;
    border: 3px solid $color-primary;
    &:hover {
        border: 3px solid $color-primary-light;
    }
}
.active {
    cursor: url('../../img/icons/pointer.svg'), pointer;
    background-color: $color-primary-light;
    border: 3px solid $color-primary-light;
}

.arrow {
    background-color: transparent;
    border: 3px solid $color-primary;
border-radius: 100px;
width: 52px;
height: 52px;
padding: 0;
background-image: url(/src/img/icons/Arrow.svg);
background-repeat: no-repeat;
background-position: center;
&:hover {
    border: 3px solid $color-primary-light;
}
}
.arrow_right {
    transform: rotate(180deg);
}
.arrow_unactive {
    border: 3px solid $color-dark-s;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    @media (min-width:768px) and (max-width:1267px) {
        padding: 0 30px;
    }
    @media (max-width:767px) {
        padding: 0 10px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-screen,
.header {
    background-size: 100%;
    background-image: url('/src/img/Start-screen.png');
    background-repeat: no-repeat;
    //   background-position: center;
    background-attachment: fixed;
    /* !!! */
    @media  (max-width:1267px) {
        background-size: unset;
    }
}

.slider {
    display: flex;
    gap: 90px;
    align-items: center;
    @media  (max-width:1267px) {
        gap: 25px;
    } 
    @media (max-width:767px) {
        flex-direction: column;
    }
}
.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;
    padding-bottom: 30px;
    gap: 30px;
    &:hover {
        background-color:$color-light-xl;
        transform: scale(1.1)	
        }

}


// @media {
//     //для мобилки 
//     h3 {
// @include makeFonts(400, 25px, 130%, $letter-spacing: 0.06em);
//     }
//     .paragraph-mobile-menu {
// @include makeFonts(400, 32px, 160%, 'Arial Regular');
//     }
// }