.footer {
    background-image: url('../../img/footer.png');
    background-repeat: no-repeat;

    @media (min-width:767px) and (max-width:1267px) {
        background-size: 300%;
    }

    @media (max-width:767px) {
        background-size: 1190%;
    }
}

.footer__wrapper {
    display: flex;
    padding-top: 40px;
    gap: 80px;

    @media (max-width:1267px) {
        flex-direction: column;
        gap: 0;
        padding-top: 40px;
    }
}

.footer__contacts {
    display: flex;
    gap: 190px;
    align-items: flex-start;
    margin-bottom: 40px;

    @media (min-width:767px) and (max-width:1267px) {
        gap: 60px;
        justify-content: space-evenly;
    }

    @media (max-width:767px) {
        gap: 0;
        flex-direction: column;
    }
}

.footer__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    gap: 40px;

    @media (max-width:767px) {
        flex: 0 0 250px;
    }
}

.footer__title {
    color: $color-light-xl;
}

.footer__img {
    display: flex;
    background-image: url('../../img/footer-puppy.png');
    background-position: top 8px right;
    background-repeat: no-repeat;

    @media (min-width:768px) and (max-width:1267px) {
        background-position: center top 10px;
    }

    @media (max-width:767px) {
        background-size: 90%;
        background-position: right 20px top 10px;
    }
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 15px;

    h4 {
        color: $color-primary;
    }
}