.pets {
    @include darkBg;
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @media (min-width:767px) and (max-width:1267px) {
        gap: 40px;
     }
     @media (max-width:766px) {
        gap: 30px;
    }
    .button_info {
        @media (min-width:768px) and (max-width:1267px) {
           display: none;
           gap: 40px;
        }
        @media (max-width:767px) {
            display: none;
        }
    }
}

.wrapper__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pets__title {
    max-width: 370px;
    text-align: center;
}

.pets-card-title {
    @include makeFonts(400, 20px, 23px, $letter-spacing: 0.06em);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    @media (min-width:768px) and (max-width:1267px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:767px) {
        grid-template-columns: repeat(1, 300px);
    }
}

.controllers {
    display: flex;
    gap: 20px;
}

.active-page {
    background-color: $color-primary;
    background-image: unset;
}

.controller {
    background-image: url(/src/img/icons/controller.svg);
}

.controller_right {
    transform: rotate(180deg);
}

.controller_double {
    background-image: url(/src/img/icons/controller-double.svg);
}

.controller_double_right {
    transform: rotate(180deg);
}