@font-face {
    font-family: 'Arial Regular';
    src: url('/src/fonts/ArialMT.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia Regular';
    src: url('/src/fonts/Georgia.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia Bold';
    src: url('/src/fonts/Georgia-Bold.woff');
    font-weight: 700;
}